<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
xmlns: sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Product-Bowwow')"/>  

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div class="container">			
			<div style="display: inline-block; padding: 100px 100px 100px 430px;">
				<h2 style="color: darkgrey;">문의해주세요(500)</h2>
			</div>			
		</div>
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>