<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title)">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
   <base href="/" />
   <title>[[${title}]]</title>
   
   <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />   
   <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
   <script type="text/javascript" th:src="@{/js/common.js}"></script>
   
   	
   	<style>
		@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&family=IBM+Plex+Sans+KR:wght@500&display=swap');
	
		* {
			font-family: 'IBM Plex Sans KR', sans-serif;
		}
	</style>

</head>
<body>
	
	<div th:fragment="footer" class="text-center m-3" style="padding-top: 40px; padding-bottom: 30px; background-color: whitesmoke;">
		
		<p>주소: 서울특별시 종로구 돈화문로 2</p>
		<p>사업주: 강현</p>
		<p>Tel: 02-5648-2351 Fax:02-314-6854</p>
		<p>Bowwow Control panel - Copyright &copy; Bowwow</p>
	</div>
</body>
</html>