<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 
<head th:replace="fragments :: page_head('Home - likeit')">

</head>
<body>
	<div class="container justify-content-center">
		<div th:replace="navigation :: menu"></div>
		<div th:if="${list.isEmpty()}" >
			<br>
			<h1 style="color: #bf6e22; text-align: center;">찜목록이 비어있습니다</h1><br>
		</div>
		<th:block th:unless="${list.isEmpty()}">
		<div>
			<br>
			<h1 style="color: #bf6e22; text-align: center;">[[${pageTitle}]]</h1><br>
		</div>
		
		
		
		<div class="full-details">
		   <table class="table">
		      <thead style="background-color: #fbdc6f; color: rgb(128, 64, 0);">
			    <tr>
					<th></th>
					<th>상품명</th>
					<th>분류</th>
					<th>할인률</th>
		            <th>가격</th>
					<th>평점</th>
					<th>찜</th>
		         </tr>
		         </thead>
			      <tbody>
				   	<tr th:each="list:${list}">
						<td>
							<a class="navbar-brand" th:href="@{'/product/detail/' + ${list.id} + '/1'}">
							<img th:src="@{${list.mainImagePath}}" style="width:100px" class="img-fluid"/>
							</a>
						</td>
						<td>[[${list.mainName}]] [[${list.subName}]]</td>
			            <td>[[${list.categoryId}]]</td>
			            <div th:each="dis : ${list}">
			   				<td th:text="${#numbers.formatDecimal(dis.discount * 100, 0, '0')} + '%'"></td>
						</div>
			            <td>[[${list.price}]]원</td>
			            <td>[[${list.score}]]점</td>  
			            <td>
							<a th:href="@{'/likeit/delete/'+${list.id}}" class="fa-solid fa-heart icon-red" ></a>
						</td>
		          </tr>
		        </tbody>      
		   </table>
	   </div>
	   </th:block>
  	</div>
   <div th:replace="fragments :: footer"></div>
</body>
</html>