<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	
<head th:replace="fragments :: page_head('Products - Bowwow')"/>

<body>
	
	<div class="container-fluid">
		
		<div th:replace="navigation :: menu"></div>
		<div class="container">
		    <div>
		      	<h1 style="color: darkgrey;">Notice</h1>     	
		    </div>
		    
		   
		   	<div>
				<div style="float: right;">
				   <a th:href="@{/notice/new}">
				     <button style="border-radius: 5px; background-color: darkgray; color:white; 
				     	border: none; width: 100%;height: 40px;">&nbsp;Create New Notice&nbsp;</button> 
				   </a>
			   	</div>
			   	<form th:action="@{/notice/page/1}" class="form-inline m-3">
					Filter:&nbsp;&nbsp;
		   			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
		   			&nbsp;&nbsp;
		   			<button type="submit" style="border-radius: 5px; background-color: darkgray; color:white; 
				     	border: none; width: 8%; height: 30px;">
						   <i class="fas fa-search"></i>
					</button>
					&nbsp;&nbsp;
					<button type="button" style="border-radius: 5px; background-color: darkgray; color:white; 
				     	border: none;width: 8%; height: 30px;" onclick="clearFilter()">
						   <i class="fas fa-eraser"></i>
					</button>
		      	</form>
		  	</div>
		   
		  	<div class="full-details">
			   <table class="table table-striped">
			      <thead >
				    <tr class="text-white">
						<th>Num</th>
						<th>Title</th>
			            <th>Date</th>
			            <th></th>
			         </tr>
			         </thead>
			      <tbody>
				   	<tr th:each="notice:${listnotice}">
						<td style="width: 20%;">[[${notice.id}]]</td>  
			            <td style="width: 40%;">
							<a th:href="@{'/notice/detail/' + ${notice.id}}" style="color: black;">
								[[${notice.title}]]
							</a>
						</td>
			            <td style="width: 20%;">[[${notice.date}]]</td> 
			            <td style="width: 20%;">
							<a th:href="@{'/notice/edit/' + ${notice.id}}" title="Edit this notice" class="fa-regular fa-pen-to-square fa-2x icon-darkgray"></a>
							&nbsp;
			            	<a class="fa-solid fa-trash fa-2x icon-silver link-delete" th:href="@{'/notice/delete/' + ${notice.id}}" th:noticeId="${notice.id}" title="Delete this notice"></a>
						</td>
			        </tr>
			        </tbody>      
			   </table>
			</div>
		   	
		   	<div class="modal fade text-center" id="confirmModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Delete Confirmation</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<div class="modal-body">
							<span id="confirmText"></span>
						</div>
						
						<div class="modal-footer">
							<a class="btn btn-sucess" href="" id="yesButton">Yes</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
		   	
			<div th:if="${totalPages > 1}">
			    <nav>
			        <ul class="pagination justify-content-center">
			            <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}" >
			                <a class="page-link" th:href="@{/notice/page/1} + ${keyword != null ? '&keyword=' + keyword : ''}">처음</a>
			            </li>
			
			            <li th:class="${currentPage > 1 ? 'page-item active' : 'page-item disabled'}">
			                <a class="page-link" th:href="@{'/notice/page/' + ${currentPage - 1} + ${keyword != null ? '&keyword=' + keyword : ''}}">이전</a>
			            </li>
			
			            <li th:class="${i == currentPage ? 'page-item active' : 'page-item'}" th:each="i:${#numbers.sequence(1,totalPages)}">
			                <a class="page-link" th:href="@{'/notice/page/' + ${i} + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="${i}">1</a>
			            </li>
			
			            <li th:class="${currentPage < totalPages ? 'page-item active' : 'page-item disabled'}">
			                <a class="page-link" th:href="@{'/notice/page/' + ${currentPage + 1} + ${keyword != null ? '&keyword=' + keyword : ''}}">다음</a>
			            </li>
			
			            <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
			                <a class="page-link" th:href="@{'/notice/page/' + ${totalPages} + ${keyword != null ? '&keyword=' + keyword : ''}}">끝</a>
			            </li>
			        </ul>
			    </nav>
		  	</div>
		  	
			
			
			<div th:replace="fragments :: footer"></div>
		</div>
	</div>   


<script type="text/javascript">
	$(document).ready(function(){
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			link = $(this);
			noticeId = link.attr("noticeId");
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text("Are you sure you want to delete this notice ID " + noticeId + "?");
			$("#confirmModal").modal();
		});
	});
	
		function clearFilter(){
			window.location = "[[@{/notice}]]";
		}
</script>
<style>
        th {
           	width: 25%;
           	text-align: center;
        }
        tr {  
            text-align: center;
        }
        
      
</style>
</body>
</html>